* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ourCountry {
  color: rgb(54, 54, 179);
  margin-top: 190px;
  margin-left: 150px;
  font-size: 136px;
}

.country {
  color: rgb(175, 175, 36);
  margin-left: 0px;
  font-size: 136px;
}
